/* You can add global styles to this file, and also import other style files */

html, body {
  background-image: url("./assets/bgStarWars.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  color:  rgb(255, 166, 0);
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
