<div class="container" *ngIf="planets" style="margin-top: 30px;">

  <div class="row">
    <div @fade class="col-11 col-md-8 mx-auto planet-cover" *ngFor="let planet of planets.results; let i=index">

      <div class="row justify-content-center name">
        <a [routerLink]="['/planet', i+1]" (click)="selectPlanet(planet)">{{planet.name}}</a>
      </div>

      <div class="row">
        <div class="col-6 col-lg-3">
          diameter: {{planet.diameter}}
        </div>
        <div class="col-6 col-lg-3">
          climate: {{planet.climate}}
        </div>
        <div class="col-6 col-lg-3">
          tarrain: {{planet.terrain}}
        </div>
        <div class="col-6 col-lg-3">
          population: {{planet.population}}
        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-10 col-md-8 col-lg-5 mx-auto">
      <mat-paginator [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="planets.count"
        (page)="onPageChange($event)">

      </mat-paginator>
    </div>

  </div>
</div>
